#finished-words {
	float: left;
}

.word {
	font-size: smaller;
	font-weight: bold;
}

.word td {
	border: 1px solid silver;
	width: 1em;
	height: 1.23em;
	text-align: center;
}

.word-group {
	margin: 0 auto 11px;
	overflow: hidden;
}

.word-column {
	float: left;
	margin-right: 6px;
	margin-bottom: auto;
}

#game {
	float: left;
	padding: 3em 4em;
	font-size: x-large;
}

#letter-slots {
	overflow: hidden;
}

.slot {
	border: 1px solid;
	margin-right: 0.8em;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	vertical-align: middle;
	float: left;
	cursor: pointer;
}

#letters {
	overflow: hidden;
	margin-top: 1em;
	margin-bottom: 1em;
}

.letter {
	border: 1px solid;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	vertical-align: middle;
	float: left;
	margin-right: 0.8em;
	cursor: pointer;
}

#multiplayer {
	font-size: medium;
	margin-top: 1em;
}

#input-name {
	width: 10em;
}

#nameerror {
	color: red;
}

#sharebutton {
	display: none;
}

#entername {
	display: none;
}

#gameinfo {
	display: none;
}

#gameinfo-inner {
	margin-top: 0.8em;
}

#playerlist {
	width: 12em;
	float: left;
}

#playerlist h3 {
	font-size: 1.3em;
	margin: 0;
}

#playerul {
	padding-left: 0.8em;
	margin-top: 0.8em;
}

#playerul li {
	list-style-type: none;
}

.quit {
	text-decoration: line-through;
}

#log {
	margin-top: 0.6em;
	margin-left: 12em;
	width: 20em;
	height: 10em;
	overflow-y: scroll;
	overflow-x: hidden;
}
